// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify

// $body-font-family: '';
$card-text-font-weight: 300;
$list-item-dense-title-font-weight: 300;
$tooltip-font-size: 14px;
$tooltip-border-radius: 0;
$tooltip-padding: 7px 13px;
$tooltip-font-size: 12px;
$tooltip-background-color: #545454 !default;
